.footer__container {
  height: 15%;
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $white-two;
  @media all and (min-width: 768px) {
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 41px;
    padding-right: 40px;
  }
  &--small {
    font-size: 14px;
    line-height: 20px;
    font-family: $font-open;
    color: $brownish-grey;
  }
  &--img {
    margin-top: 12px;
    width: 103px;
    height: 40px;
  }
}
