.design__form {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-family: $font-open;
  color: $color-texts;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 28px 50% 40%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-between;

  @media all and (min-width: 768px) {
    padding-bottom: 30px;
  }

  &--tittle {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .design {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 9px;
    color: $dull-orange;
  }
  .fa-chevron-up {
    grid-column: 3/4;
    grid-row: 1/2;

    justify-self: end;
  }

  &--colors {
    grid-column: 1/3;
    grid-row: 2/5;
    font-size: 14px;
    padding-left: 19px;
    font-weight: normal;
  }
  &--ranges {
    grid-column: 3/4;
    grid-row: 2/5;
    justify-self: end;

    .label-1 {
      display: flex;
      flex-wrap: row;
      align-items: center;
      margin-bottom: 20px;
      height: 25px;
      text-align: center;
      width: 100%;

      .range {
        width: 36px;
      }
      .box-1 {
        background-color: $dark-green-blue;
        width: 30px;
        height: 25px;
      }
      .box-2 {
        background-color: $dirty-blue;
        width: 30px;
        height: 25px;
      }
      .box-3 {
        background-color: $hospital-green;
        width: 30px;
        height: 25px;
      }
    }

    .label-2 {
      display: flex;
      flex-wrap: row;
      align-items: center;
      margin-bottom: 20px;

      height: 25px;
      .range {
        width: 36px;
      }
      .box-1 {
        background-color: $dried-blood;
        width: 30px;
        height: 25px;
      }
      .box-2 {
        background-color: $rusty-red;
        width: 30px;
        height: 25px;
      }
      .box-3 {
        background-color: $tomato;
        width: 30px;
        height: 25px;
      }
    }
    .label-3 {
      display: flex;
      flex-wrap: row;
      align-items: center;

      height: 25px;
      .range {
        width: 36px;
      }
      .box-1 {
        background-color: $slate;
        width: 30px;
        height: 25px;
      }
      .box-2 {
        background-color: $faded-orange;
        width: 30px;
        height: 25px;
      }
      .box-3 {
        background-color: $light-grey-blue;
        width: 30px;
        height: 25px;
      }
    }
  }
  .hidden {
    display: none;
  }
}
