.form__header {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  font-family: $font-open;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: $color-texts;
  margin-top: 10px;
  margin-bottom: 7px;
  .header--text {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    .header--title {
      margin-left: 10px;
    }
    .icon-start {
      color: $dull-orange;
    }
  }
  .icon-end {
    grid-column: 2 / 3;
    justify-self: end;
    color: $color-texts;
    &--rotate {
      transform: rotate(180deg);
    }
  }
}
