<section class="profilecards__section--design">
  <include
    src="./header-collapsable.html"
    title="Diseña"
    iconStart="far fa-object-ungroup"
    iconEnd="fas fa-chevron-up"
  ></include>

  <fieldset class="design__form js_fieldset hidden">
    <h3 class="design__form--colors">colores:</h3>
    <div class="design__form--ranges">
      <label class="label-1" for="1">
        <input checked class="range js_palette" id="1" type="radio" value="1" name="palette" />
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
      </label>

      <label class="label-2" for="2">
        <input class="range js_palette" id="2" type="radio" value="2" name="palette" />
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
      </label>

      <label class="label-3" for="3">
        <input class="range js_palette" id="3" type="radio" value="3" name="palette" />
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
      </label>
    </div>
  </fieldset>
</section>
