<section class="hero">
  <button class="hero__button js-resetButton" type="reset">
    <i class="far fa-trash-alt"></i>Reset
  </button>
  <div class="hero__section js_hero__section">
    <article class="hero__section--article">
      <div class="hero__section--article--rectangle js-rectangle"></div>
      <h2 class="hero__section--article--name js_preview js-name">
        Nombre apellido
      </h2>
      <p class="hero__section--article--text js_preview js_preview-job">
        Front-end developer
      </p>
    </article>

    <div
      class="hero__section--img js__profile-image"
      style="background-image: url(./assets/images/stars.gif)"
    ></div>
    <nav class="hero__section--media">
      <a href="" class="js_preview"
        ><i
          class="fas fa-mobile-alt js-icon icon color3 js_input_mobile"
          id="mobile"
        ></i
      ></a>
      <a href="" class="js_preview"
        ><i
          class="far fa-envelope js-icon icon color3 js_input_email"
          id="email"
        ></i
      ></a>
      <a href="" class="js_preview"
        ><i
          class="fab fa-linkedin-in js-icon icon color3 js_input_linkedin"
          id="linkedin"
        ></i
      ></a>
      <a href="" target="_blank" class="js_preview"
        ><i
          class="fab fa-github-alt js-icon icon color3 js_input_github"
          id="github"
        ></i
      ></a>
    </nav>
  </div>
</section>
