<include
  src="./header-collapsable.html"
  title="Comparte"
  iconStart="fas fa-share-alt"
  iconEnd="fas fa-chevron-up"
></include>

<fieldset class="profilecards__section--share js_fieldset">
  <button class="share__button js_share__button">
    <a href="./profile-cards.html" class="section__container--main-link"
      ><i class="far fa-address-card"></i>Crear tarjeta
    </a>
  </button>
  <div class="container-creadted-card js_created-card hidden">
    <p class="paragraph-created-card js_share-message">
      La tarjeta ha sido creada
    </p>
    <a
      class="link-created-card js_link_created"
      target="_blank"
      href="www.twwitter.com"
      >www.twwitter.com/loquesea/lpomnn/lllammnuiv</a
    >
    <button class="button-twitter">
      <i class="fab fa-twitter twitter"></i>Compartir en twitter
    </button>
  </div>
</fieldset>
